.location {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    font-size: 0.8rem;
}

.location__link {
    text-decoration: none;
    color: #ffffff;
    align-items: center;
    display: flex;
    border-radius: 1.5rem;
    padding: 0.5rem;
}

.location__separator {
    margin: 0 0.5rem;
    color: #444950;
}

.location__link:hover {
    background-color: #242526;
}

.location__link--active {
    background-color: #242526;
    color: var(--accent-color);
}